@charset "utf-8";
/* CSS Document */

h2 {
border-top: solid cornflowerblue 1px;
border-left: solid cornflowerblue 1px;
width: 50px;
height: 25px;
margin: 0;
float: left;
text-align: center;
}
.tab-content {
border: solid cornflowerblue 1px;
width: 152px;
height: 100px;
}
.tab-content div{
display: none;
}
.selected {
	background-color: #3C9;
	position: absolute;
	height: 70px;
	width: 250px;
	color: #3C9;
}
#btnPRMAA {
	position: absolute;
	left: 0px;
	top: 0px;
}
#btnPRMAN {
	position: absolute;
	left: 250px;
	top: 0px;
}
#btnPRMAM {
	position: absolute;
	left: 500px;
	top: 0px;
}

.unselected {
	background-color: #FFC;
	position: absolute;
	height: 70px;
	width: 250px;
	color: #FFC;
}


.tab-content .show{
	display: inline-block;
	background-color: #3C9;
	position: absolute;
	height: 921px;
	width: 1300px;
	left: 0px;
	top: 70px;
	color: #3C9;
}
.tab-content .divPRMAB {
	background-color: #FFC;
	display: inline-block;
	position: absolute;
	height: 570px;
	width: 1000px;
	left: 150px;
	top: 175px;
}
.tab-content .labPRMAC {
	font-family: "幼圆";
	font-size: 30px;
	font-weight: bold;
	color: #3C9;
	background-color: #FFC;
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 410px;
	left: 300px;
	top: 130px;
}
.tab-content .labPRMAR {
	font-family: "幼圆";
	font-size: 80px;
	font-weight: bold;
	color: #600;
	background-color: #FFC;
	display: inline-block;
	position: absolute;
	height: 100px;
	width: 400px;
	left: 300px;
	top: 250px;
}
.tab-content .btnPRMANe {
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 160px;
	left: 564px;
	top: 470px;
	background-color: #33CC99;
	font-size: 20px;
	font-weight: bold;
	color: #FFC;
}
.tab-content .btnPRMAB {
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 160px;
	left: 764px;
	top: 470px;
	background-color: #33CC99;
	color: #FFC;
	font-weight: bold;
	font-size: 20px;
}
#panPRM {
	display: inline-block;
	height: 991px;
	width: 1300px;
	left: 125px;
	top: 0px;
	position: absolute;
}






#labPRMAA {
	position: absolute;
	left: 85px;
	top: 20px;
}
.labPRMAA {
	font-family: "幼圆";
	font-size: 28px;
	font-weight: bold;
	color: #FFC;
	display: inline-block;
	position: absolute;
	height: 30px;
	width: 80px;
}
#labPRMAN {
	display: inline-block;
	position: absolute;
	left: 85px;
	top: 20px;
}
.labPRMAN {
	font-family: "幼圆";
	font-size: 28px;
	font-weight: bold;
	color: #3C9;
	background-color: #FFC;
	display: inline-block;
	position: absolute;
	height: 30px;
	width: 80px;
}
#labPRMAM {
	display: inline-block;
	position: absolute;
	left: 85px;
	top: 20px;
}
.labPRMAM {
	font-family: "幼圆";
	font-size: 28px;
	font-weight: bold;
	color: #3C9;
	display: inline-block;
	position: absolute;
	height: 30px;
	width: 80px;
}
.tab-content .labPRMAP {
	font-family: "幼圆";
	font-size: 36px;
	font-weight: bold;
	color: #600;
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 250px;
	left: 50px;
	top: 50px;
}





.tab-content .divPRMNB {
	background-color: #FFC;
	display: inline-block;
	position: absolute;
	height: 570px;
	width: 1000px;
	left: 150px;
	top: 175px;
}
.tab-content .labPRMNC {
	font-family: "幼圆";
	font-size: 30px;
	font-weight: bold;
	color: #3C9;
	background-color: #FFC;
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 410px;
	left: 300px;
	top: 130px;
}
.tab-content .labPRMNR {
	font-family: "幼圆";
	font-size: 80px;
	font-weight: bold;
	color: #600;
	background-color: #FFC;
	display: inline-block;
	position: absolute;
	height: 100px;
	width: 400px;
	left: 300px;
	top: 250px;
}
.tab-content .btnPRMNNe {
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 160px;
	left: 564px;
	top: 470px;
	font-family: "Arial Unicode MS";
	font-size: 20px;
	font-weight: bold;
	color: #FFC;
	background-color: #3C9;
}
.tab-content .btnPRMNB {
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 160px;
	left: 764px;
	top: 470px;
	font-family: "Arial Unicode MS";
	font-size: 20px;
	font-weight: bold;
	color: #FFC;
	background-color: #3C9;
}
.tab-content .labPRMNP {
	font-family: "幼圆";
	font-size: 36px;
	font-weight: bold;
	color: #600;
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 250px;
	left: 50px;
	top: 50px;
}





.tab-content .divPRMMB {
	background-color: #FFC;
	display: inline-block;
	position: absolute;
	height: 570px;
	width: 1000px;
	left: 150px;
	top: 175px;
}
.tab-content .labPRMMC {
	font-family: "幼圆";
	font-size: 30px;
	font-weight: bold;
	color: #3C9;
	background-color: #FFC;
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 410px;
	left: 300px;
	top: 130px;
}
.tab-content .labPRMMR {
	font-family: "幼圆";
	font-size: 80px;
	font-weight: bold;
	color: #600;
	background-color: #FFC;
	display: inline-block;
	position: absolute;
	height: 100px;
	width: 400px;
	left: 300px;
	top: 250px;
}
.tab-content .btnPRMMNe {
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 160px;
	left: 564px;
	top: 470px;
	font-family: "Arial Unicode MS";
	font-size: 20px;
	font-weight: bold;
	color: #FFC;
	background-color: #3C9;
}
.tab-content .btnPRMMB {
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 160px;
	left: 764px;
	top: 470px;
	font-family: "Arial Unicode MS";
	font-size: 20px;
	font-weight: bold;
	color: #FFC;
	background-color: #3C9;
}
.rmaclick {
	font-family: "Arial Unicode MS";
	font-size: 30px;
	font-weight: bold;
	color: #FFC;
	background-color: #3CC;
	display: inline-block;
	position: absolute;
	width: 200px;
	height: 50px;
	left: 400px;
	top: 380px;
}
	
.rmnclick {
	font-family: "Arial Unicode MS";
	font-size: 30px;
	font-weight: bold;
	color: #FFC;
	background-color: #3CC;
	display: inline-block;
	position: absolute;
	width: 200px;
	height: 50px;
	left: 400px;
	top: 380px;
}

.rmmclick {
	font-family: "Arial Unicode MS";
	font-size: 30px;
	font-weight: bold;
	color: #FFC;
	background-color: #3CC;
	display: inline-block;
	position: absolute;
	width: 200px;
	height: 50px;
	left: 400px;
	top: 380px;
}
.tab-content .labPRMMP {
	font-family: "幼圆";
	font-size: 36px;
	font-weight: bold;
	color: #600;
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 250px;
	left: 50px;
	top: 50px;
}
