@charset "utf-8";
/* CSS Document */

#divSign {
	background-color: #FFC;
	display: inline-block;
	position: absolute;
	height: 700px;
	width: 1340px;
	left: 0px;
	top: 0px;
}
#labSign {
	font-family: "幼圆";
	font-size: 72px;
	font-weight: bold;
	color: #3C9;
	display: inline-block;
	position: absolute;
	height: 79px;
	width: 300px;
	left: 520px;
	top: 52px;
}
#labSUserame {
	font-family: "幼圆";
	font-size: 36px;
	font-weight: bold;
	color: #3C9;
	display: inline-block;
	position: absolute;
	height: 61px;
	width: 183px;
	left: 336px;
	top: 200px;
}
#labSPassword {
	font-family: "幼圆";
	font-size: 36px;
	font-weight: bold;
	color: #3C9;
	display: inline-block;
	position: absolute;
	height: 72px;
	width: 183px;
	left: 336px;
	top: 353px;
}
#labSSPassword {
	font-family: "幼圆";
	font-size: 36px;
	font-weight: bold;
	color: #3C9;
	display: inline-block;
	position: absolute;
	height: 72px;
	width: 206px;
	left: 314px;
	top: 493px;
}
#textSUserame {
	font-size: 28px;
	color: #000;
	display: inline-block;
	position: absolute;
	height: 63px;
	width: 394px;
	top: 200px;
	left: 520px;
}
#textSPassord {
	font-size: 28px;
	color: #000;
	display: inline-block;
	position: absolute;
	height: 63px;
	width: 394px;
	left: 520px;
	top: 353px;
}
#textSSPassord {
	font-size: 28px;
	color: #000;
	display: inline-block;
	position: absolute;
	height: 63px;
	width: 394px;
	left: 520px;
	top: 493px;
}
#btnSLogin {
	display: inline-block;
	position: absolute;
	height: 70px;
	width: 174px;
	left: 520px;
	top: 600px;
	font-family: "幼圆";
	font-weight: bold;
	font-size: 28px;
	color: #FFC;
	background-color: #33CC99;
}
#btnExit {
	display: inline-block;
	position: absolute;
	height: 70px;
	width: 174px;
	left: 740px;
	top: 600px;
	font-family: "幼圆";
	font-weight: bold;
	font-size: 28px;
	color: #FFC;
	background-color: #33CC99;
}
