@charset "utf-8";
/* CSS Document */

#divLVB {
	background-color: #3C9;
	display: inline-block;
	position: absolute;
	height: 921px;
	width: 1300px;
	left: 125px;
	top: 0px;
}
#divLVBY {
	background-color: #FFC;
	display: inline-block;
	position: absolute;
	height: 650px;
	width: 1000px;
	left: 150px;
	top: 130px;
}
#btnLVP {
	font-family: "幼圆";
	font-size: 20px;
	font-weight: bold;
	color: #FFC;
	background-color: #3C9;
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 200px;
	left: 675px;
	top: 700px;
}
#btnLVBM {
	font-family: "幼圆";
	font-size: 20px;
	font-weight: bold;
	color: #FFC;
	background-color: #3C9;
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 200px;
	left: 900px;
	top: 700px;
}
#Video {
	display: inline-block;
	position: absolute;
	height: 450px;
	width: 700px;
	left: 150px;
	top: 60px;
}
