@charset "utf-8";
/* CSS Document */

#divPRB {
	background-color: #FFC;
	display: inline-block;
	position: absolute;
	height: 921px;
	width: 1300px;
	left: 125px;
	top: 0px;
}
#btnPRS {
	display: inline-block;
	position: absolute;
	height: 150px;
	width: 400px;
	left: 450px;
	top: 140px;
	font-family: "幼圆";
	font-weight: bold;
	font-size: 72px;
	color: #600;
	background-color: #33CC99;
}
#btnPRM {
	display: inline-block;
	position: absolute;
	height: 150px;
	width: 400px;
	left: 450px;
	top: 385px;
	font-family: "幼圆";
	font-weight: bold;
	font-size: 72px;
	color: #600;
	background-color: #33CC99;
}
#btnPRL {
	display: inline-block;
	position: absolute;
	height: 150px;
	width: 400px;
	left: 450px;
	top: 630px;
	font-family: "幼圆";
	font-weight: bold;
	font-size: 72px;
	color: #600;
	background-color: #33CC99;
}
#btnPRBL {
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 160px;
	left: 900px;
	top: 840px;
	font-family: "幼圆";
	font-weight: bold;
	font-size: 20px;
	color: #FFC;
	background-color: #33CCCC;
}
#btnPRBM {
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 160px;
	left: 1100px;
	top: 840px;
	background-color: #33CCCC;
	font-family: "幼圆";
	font-weight: bold;
	font-size: 20px;
}
