@charset "utf-8";
/* CSS Document */

#panPERS {
	background-color: #3C9;
	position: absolute;
	height: 700px;
	width: 1340px;
}
#divPERSABY {
	background-color: #FFC;
	display: inline-block;
	position: absolute;
	height: 500px;
	width: 1000px;
	left: 150px;
	top: 100px;
}
#labPERSAP {
	font-family: "幼圆";
	font-size: 36px;
	font-weight: bold;
	color: #600;
	background-color: #3C9;
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 250px;
	left: 50px;
	top: 50px;
}
#labPERSAP {
	font-family: "幼圆";
	font-size: 30px;
	font-weight: bold;
	color: #600;
	background-color: #3C9;
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 250px;
	left: 50px;
	top: 50px;
}
#btnPERMAB {
	font-family: "幼圆";
	font-size: 20px;
	font-weight: bold;
	color: #FFC;
	background-color: #3C9;
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 160px;
	left: 764px;
	top: 420px;
}

#labPERSAC {
	font-family: "幼圆";
	font-size: 30px;
	font-weight: bold;
	color: #3C9;
	background-color: #FFC;
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 410px;
	left: 300px;
	top: 70px;
}
#labPERSAR {
	font-family: "Arial Unicode MS";
	font-size: 80px;
	font-weight: bold;
	color: #600;
	background-color: #FFC;
	display: inline-block;
	position: absolute;
	height: 100px;
	width: 400px;
	left: 300px;
	top: 200px;
}
#btnerclick {
	font-family: "Arial Unicode MS";
	font-size: 20px;
	font-weight: bold;
	color: #FFC;
	background-color: #3CC;
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 400px;
	left: 300px;
	top: 270px;
}
#btnPERMANe {
	font-family: "Arial Unicode MS";
	font-size: 20px;
	color: #FFC;
	background-color: #3C9;
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 160px;
	left: 564px;
	top: 420px;
	font-weight: bold;
}
#btnPERMAB {
	font-family: "Arial Unicode MS";
	font-size: 20px;
	font-weight: bold;
	color: #FFC;
	background-color: #3C9;
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 160px;
	left: 765px;
	top: 420px;
}
