@charset "utf-8";
/* CSS Document */

h2 {
border-top: solid cornflowerblue 1px;
border-left: solid cornflowerblue 1px;
width: 50px;
height: 25px;
margin: 0;
float: left;
text-align: center;
}
.tab-content {
border: solid cornflowerblue 1px;
width: 152px;
height: 100px;
}
.tab-content div{
display: none;
}
.selected {
	background-color: #3C9;
	font-family: "幼圆";
	font-weight: bold;
	display: inline-block;
	position: absolute;
	height: 70px;
	width: 250px;
	left: 0;
	top: 0;
}
.tab-content .show{
	display: inline-block;
	background-color: #3C9;
	position: absolute;
	height: 630px;
	width: 1340px;
	left: 0px;
	top: 70px;
}
.unselected {
	background-color: #FFC;
	display: inline-block;
	position: absolute;
	height: 70px;
	width: 250px;
	left: 250px;
	top: 0px;
}
.slan {
	font-family: "幼圆";
	font-size: 28px;
	font-weight: bold;
	color: #FFC;
	background-color: #3C9;
	display: inline-block;
	position: absolute;
	width: 80px;
	height: 30px;
}
#slan {
	left: 85px;
	top: 20px;
	position: absolute;
}
#uslan {
	left: 85px;
	top: 20px;
	position: absolute;
}
#btnPRSNA {
	position: absolute;
	left: 0px;
	top: 0px;
}
#btnPRSNN {
	position: absolute;
	left: 250px;
	top: 0px;
}


.uslan {
	font-family: "幼圆";
	font-size: 28px;
	font-weight: bold;
	color: #3C9;
	background-color: #FFC;
	display: inline-block;
	position: absolute;
	height: 30px;
	width: 80px;
}
#panPRS {
	display: inline-block;
	position: absolute;
	height: 700px;
	width: 1340px;
	left: 0px;
	top: 0px;
}
.tab-content .divPRSABY {
	background-color: #FFC;
	display: inline-block;
	position: absolute;
	height: 500px;
	width: 1140px;
	left: 100px;
	top: 65px;
}
 .tab-content .divPRSABY .labPRSAC {
	font-family: "幼圆";
	font-size: 30px;
	font-weight: bold;
	color: #3C9;
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 410px;
	top: 90px;
	left: 365px;
}
.tab-content .divPRSABY .labPRSAR {
	font-family: "Arial Unicode MS";
	font-size: 80px;
	font-weight: bold;
	color: #600;
	display: inline-block;
	position: absolute;
	height: 100px;
	width: 200px;
	left: 470px;
	top: 210px;
	text-align:center
}
.tab-content .divPRSABY .labPRSNR {
	font-family: "Arial Unicode MS";
	font-size: 80px;
	font-weight: bold;
	color: #600;
	display: inline-block;
	position: absolute;
	height: 100px;
	width: 200px;
	left: 470px;
	top: 210px;
	text-align:center
}

.tab-content .divPRSABY .btnPRSANe {
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 160px;
	left: 750px;
	top: 420px;
	background-color: #33CC99;
	font-size: 20px;
	color: #FFC;
	font-weight: bold;
}
.tab-content .divPRSABY .btnPRSAB {
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 160px;
	left: 950px;
	top: 420px;
	background-color: #33CC99;
	font-size: 20px;
	font-weight: bold;
	color: #FFC;
}
.tab-content .divPRSABY .btnPRSNNe {
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 160px;
	left: 750px;
	top: 420px;
	background-color: #33CC99;
	font-size: 20px;
	color: #FFC;
	font-weight: bold;
}
.tab-content .divPRSABY .btnPRSNB {
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 160px;
	left: 950px;
	top: 420px;
	background-color: #33CC99;
	font-size: 20px;
	font-weight: bold;
	color: #FFC;
}

.tab-content .labPRSAS {
	font-family: "幼圆";
	font-size: 36px;
	font-weight: bold;
	color: #600;
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 250px;
	left: 15px;
	top: 15px;
}
.btnclick {
	font-family: "Arial Unicode MS";
	font-size: 25px;
	font-weight: bold;
	color: #FFC;
	background-color: #3CC;
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 200px;
	left: 470px;
	top: 340px;
}

