@charset "utf-8";
/* CSS Document */

#divBTea {
	background-color: #FFC;
	display: inline-block;
	position: absolute;
	height: 700px;
	width: 1340px;
	left: 0px;
	top: 0px;
}
#btnStu {
	display: inline-block;
	position: absolute;
	height: 200px;
	width: 350px;
	left: 243px;
	top: 250px;
	font-family: "幼圆";
	font-weight: bold;
	font-size: 72px;
	color: #600;
	background-color: #33CC99;
}
#btnPlay {
	display: inline-block;
	position: absolute;
	height: 200px;
	width: 350px;
	left: 794px;
	top: 250px;
	font-family: "幼圆";
	font-weight: bold;
	font-size: 72px;
	color: #600;
	background-color: #33CC99;
}
#btnTB {
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 160px;
	left: 1104px;
	top: 620px;
	font-family: "幼圆";
	font-weight: bold;
	font-size: 20px;
	color: #FFC;
	background-color: #33CCCC;
}
