@charset "utf-8";
/* CSS Document */

#divLVB {
	background-color: #3C9;
	display: inline-block;
	position: absolute;
	height: 700px;
	width: 1340px;
	left: 0px;
	top: 0px;
}
#divLVBY {
	background-color: #FFC;
	display: inline-block;
	position: absolute;
	height: 500px;
	width: 1140px;
	left: 100px;
	top: 100px;
}
#btnLVP {
	font-family: "幼圆";
	font-size: 20px;
	font-weight: bold;
	color: #FFC;
	background-color: #3C9;
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 180px;
	left: 780px;
	top: 540px;
}
#btnLVBM {
	font-family: "幼圆";
	font-size: 20px;
	font-weight: bold;
	color: #FFC;
	background-color: #3C9;
	display: inline-block;
	position: absolute;
	height: 50px;
	width: 180px;
	left: 980px;
	top: 540px;
}
#Video {
	display: inline-block;
	position: absolute;
	height: 300px;
	width: 600px;
	left: 270px;
	top: 100px;
}
